/*basic setup*/

:root {
    --dark_background-color:#071f31;
    --dark_text-color:#d0d4d8;
    --dark_main-color: #cb2743;
    --dark_highlight-color: #051520;
    --white_background-color:#d0d4d8;
    --white_text-color:#04243d;
    --white_main-color: #cb2743;
    --white_highlight-color: #051520;
    --box-shadow: 0 .5rem 1.5rem rba(0, 0, 0, .1);
}

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--dark_background-color);
}

section{
    padding: 2rem 9%;
}
section:nth-season(even){
    background: var(--dark_background-color);
}


/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--dark_background-color);
    right: 0;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: var(--box-shadow);
}

.btn{
    margin-top:1rem; 
    display: inline-block; 
    font-size: 1.7rem;
    color: var(--dark_background-color);
    background: var(--dark_main-color);
    border-radius: .5rem;
    cursor: pointer;
    font-weight: bold;
    padding: .8rem 3rem;
}
.btn:hover{
    background: var(--dark_background-color);
    color: var(--dark_main-color); 
}

header .logo {
    color: var(--dark_text-color);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

header .logo img {
    height: 70px;
}

header .logo span {
    color: var(--dark_main-color);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    font-weight: bolder;
    color: var(--dark_text-color);
}

header .navbar a:active,
header .navbar a:hover {
    color: var(--dark_main-color)
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    background-color: var(--dark_background-color);
    color: var(--dark_main-color);
    border-radius: 50%;
}

header .icons i:hover,
header .icons a:hover {
    color: var(--dark_background-color);
    background-color: var(--dark_main-color);
}

header .icons #menu-bars {
    display: none;
}

.heading {
    font-size: 3.5em;
    color: var(--dark_text-color); 
    text-align: center;
    padding-bottom: 1%;
}

/*dropdown*/

.dropbtn {
    color: var(--dark_text-color);
    background-color: var(--dark_background-color);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bolder;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: var(--dark_background-color);
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: var(--dark_main-color)
}

.content a{
    color: #ff0055;
}


/*home slider*/
.home {
    padding: 0;
}

.home .box {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9%;
}

.home .box {
    justify-content: flex-start;
}

.home .box.second {
    justify-content: flex-end;
}

.home .box .content {
    width: 50rem;
}

.home .box .content h3 {
    font-size: 6rem;
    color: var(--dark_main-color);
    font-family: "Brush Script MT", cursive;
    text-shadow: -1px 1px 0 var(--dark_background-color),
        1px 1px 0 var(--dark_background-color),
        1px -1px 0 var(--dark_background-color),
        -1px -1px 0 var(--dark_background-color);
    padding-top: 5rem;
    text-transform: uppercase;
}

.home .box .content p {
    font-size: 1.65rem;
    color: var(--dark_main-color);
    padding: 1rem 0;
    line-height: 2;
    font-family: "Fantasy", cursive;
    text-shadow: -1px 1px 0 var(--dark_background-color),
        1px 1px 0 var(--dark_background-color),
        1px -1px 0 var(--dark_background-color),
        -1px -1px 0 var(--dark_background-color);
}

.anime{
    padding:5rem;
}
.anime .box{
    width: 100%;
    height: 27em;
}
.anime .content h3{
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 1.6rem;
    color: var(--dark_text-color);
    text-transform: uppercase;
    text-align: center;
}
.anime .content P{
    font-size: 1.2rem;
    color:var(--dark_text-color);
    text-decoration: none;
    text-align: justify;
}

.season{
    padding:5rem;
}
.season .box{
    width: 100%;
    height: 27em;
}
.season .content h3{
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 1.7rem;
    color: var(--dark_text-color);
    text-transform: uppercase;
    text-align: center;
}
.season .content P{
    font-size: 1.2rem;
    color:var(--dark_text-color);
    text-decoration: none;
}
.recommendation{
    padding:5rem;
}
.recommendation .box{
    width: 100%;
    height: 27em;
}
.recommendation .content h3{
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 1.7rem;
    color: var(--dark_text-color);
    text-transform: uppercase;
    text-align: center;
}
.recommendation .content P{
    font-size: 1.2rem;
    color:var(--dark_text-color);
    text-decoration: none;
}
.copyright{
    bottom: 0;
    text-align: center;
}

.copyright p{
    font-size: 1rem;
    color: var(--dark_text-color);
}
.copyright p span{
    font-size: 1rem;
    color: var(--dark_text-color);
    padding-left: 1rem;
    padding-right: 1rem;
}

/*Details of animes*/
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding-top: 100px;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    width: 30%;
}

.middle {
    width: 70%;
}

.anime_img{
    width: 90%;
}

.about{
    color: var(--dark_text-color);
    text-align: center;
}
.about h1{
    display: inline-flex;
    font-size: 2rem;
    font-weight: 500;
    font-weight: bold;
    border-bottom: 4px solid var(--red);
    color:var(--dark_text-color);
    margin-bottom: 1em;
}
.about p{
    display: inline-flex;
    font-size: 2rem;
    color:var(--dark_text-color);
    text-align: justify;
    text-decoration: none;
}
.anime_container{
    color:var(--dark_text-color);
    text-align: justify;
    padding-left: 5%;
}
.anime_container h1{
    display: inline-flex;
    font-size: 2rem;
    font-weight: 500;
    font-weight: bold;
    border-bottom: 4px solid var(--red);
    color:var(--dark_text-color);
    margin-bottom: 1em;
}
.anime_container p{
    display: inline-flex;
    font-size: 1.6rem;
    color:var(--dark_text-color);
    text-align: justify;
    text-decoration: none;
}

.anime_characters{
	color: var(--dark_text-color);
    padding-left: 5%;
    padding-top: 5%;
}

.anime_characters h1{
    display: inline-flex;
    font-size: 2rem;
    font-weight: 500;
    font-weight: bold;
    border-bottom: 4px solid var(--red);
    color:var(--dark_text-color);
    margin-bottom: 1em;
}

.grid{
    padding-top: 2%;
    padding-left: 2%;
	color: var(--dark_text-color);
    background-color: #062d4b;
	display: grid;
    font-weight: bold;
    font-size: 1.1rem;
	grid-template-columns: 1fr 1fr; 
	grid-template-areas: 
    "cell cell"
    "cell cell"
    "cell cell"
    "cell cell"
    "cell cell"; 
	width: 100%;
}

.character_img{
	 float:left;
	 padding-bottom: 10px;
     padding-right: 10px;
}

.info{
    padding-top: 2%;
    padding-left: 5%;
	color: var(--dark_text-color);
	font-size:2rem;
}

.info p{
    font-size: 1.6rem;
    color:var(--dark_text-color);
    text-align: justify;
    text-decoration: none;
}

.info span{
    font-weight: bold;
    color: var(--dark_main-color);
}

.info h1{
    display: inline-flex;
    font-size: 2rem;
    font-weight: 500;
    font-weight: bold;
    padding-bottom: 5%;
    color:var(--dark_text-color);
    margin-bottom: 1rem;
    text-align: center;
}

/*Forms*/
form {
    position: relative;
    padding-top: 10rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

form h1{
    color: var(--dark_text-color);
    text-align: center;
    font-size: 3rem;
}

.form-inner {
    padding: 40px;
}
.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: var(--dark_text-color);
}
.form-inner textarea {
    resize: none;
}
.button {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    height: 5rem;
    border: 2px solid;
    border-color: var(--dark_main-color);
    background: var(--dark_main-color);
    font-size: 16px;
    font-weight: 400;
    color: var(--dark_text-color);
}
.button:hover {
    background: var(--dark_background-color);
} 


/*FAQ*/
.faq h1{
    padding-top: 10rem;
    color: var(--dark_main-color);
    font-size: 3.4rem;
    font-weight: bold;
    text-transform: none;
}

.faq p{
    color: var(--dark_text-color);
    padding-top: 1rem;
    font-size: 2.4rem;
    text-transform: none;
    text-align: justify;
}

.faq p .img{
    float: right;
    width: 25rem;
    padding-left: 1rem;
}

.faq p span, .faq p a{
    color: var(--dark_main-color);
    padding-top: 1rem;
    font-size: 2rem;
    text-transform: none;
    font-weight: bold;
}

/*media query*/

@media(max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }
}

@media(max-width: 768px) {
    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--dark_background-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
    }

    header .navbar.active {
        left: -400px;
        opacity: 0;
    }
    
    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--dark_background-color);
    }

}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

@media(max-width: 468px) {
    html {
        font-size: 50%;
    }
}

